<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>SolarEdge <%= SolarEdge::VERSION %></title>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <style>
      .axis--x path {
        display: none;
      }
      .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
      }
      .bar {
        fill: steelblue;
      }
      .bar:hover {
        fill: brown;
      }
    </style>
  </head>
  <body>
    <h1>Solar energy production</h1>
    <svg width="960" height="500" id="m15graph"></svg>
    <div>
      This site has produced <span id="todays_energy">?.???</span> kWh of
      energy today and <span id="d90_energy">?.???</span> kWH in the past 90
      days.
     </div>
     <svg width="960" height="500" id="daily_graph"></svg>
  </body>
  <script>
    var energy_data = null;
    var todays_energy = d3.select("span#todays_energy");
    var d90_energy = d3.select("span#d90_energy");

    // Begin 15 minute graph
    var m15_svg = d3.select("svg#m15graph"),
	m15_margin = {top: 20, right: 20, bottom: 30, left: 50},
	m15_width = +m15_svg.attr("width") - m15_margin.left - m15_margin.right,
	m15_height = +m15_svg.attr("height") - m15_margin.top - m15_margin.bottom,
	m15_g = m15_svg.append("g").attr("transform", "translate(" + m15_margin.left + "," + m15_margin.top + ")");

    var parseTime = d3.timeParse("%Y-%m-%d %H:%M:%S %Z");

    var m15_x = d3.scaleTime()
	.rangeRound([0, m15_width]);

    var m15_y = d3.scaleLinear()
	.rangeRound([m15_height, 0]);

    var m15_line = d3.line()
	.x(function(d) { return m15_x(d.date); })
	.y(function(d) { return m15_y(d.value); });

    // Begin daily graph
    var daily_svg = d3.select("svg#daily_graph"),
	daily_margin = {top: 20, right: 20, bottom: 30, left: 40},
	daily_width = +daily_svg.attr("width") - daily_margin.left - daily_margin.right,
	daily_height = +daily_svg.attr("height") - daily_margin.top - daily_margin.bottom;

    var daily_x = d3.scaleBand().rangeRound([0, daily_width]).padding(0.1),
	daily_y = d3.scaleLinear().rangeRound([daily_height, 0]);

    var daily_g = daily_svg.append("g")
	.attr("transform", "translate(" + daily_margin.left + "," + daily_margin.top + ")");

    d3.json("/energy.json", function(error, data) {
      if (error) throw error;

      // pre-process the data
      data = data.energy.map(function(d) {
	d.date = parseTime(d.date);
	d.value = +d.value;
        return d;
      });
      // make data accessible from the global scope
      // for poking at in console
      energy_data = data;
      console.log(energy_data);

      // update today's energy
      var today_epoch = new Date();
      today_epoch.setHours(0);
      today_epoch.setMinutes(0);
      today_epoch.setSeconds(0);
      today_epoch.setMilliseconds(0);

      cumulative_energy = data.map(function(d) {
        if(d.date > today_epoch) {
          return d.value;
        }
      }).filter(function(v) {
        return v != null;
      }).reduce(function(a, b) {
        return a + b;
      })
      console.log('today: cumulative energy')
      console.log(cumulative_energy)
      cumulative_energy_in_kwh = cumulative_energy / 1000;
      todays_energy.text(cumulative_energy_in_kwh.toString());

      // update 90 day energy
      cumulative_energy = data.map(function(d) {
        return d.value;
      }).reduce(function(a, b) {
        return a + b;
      })
      console.log('cumulative energy')
      console.log(cumulative_energy)
      cumulative_energy_in_kwh = cumulative_energy / 1000;
      d90_energy.text(cumulative_energy_in_kwh.toString());

      // update the 15 minute graph
      m15_x.domain(d3.extent(data, function(d) { return d.date; }));
      m15_y.domain(d3.extent(data, function(d) { return d.value; }));

      m15_g.append("g")
	  .attr("class", "axis axis--x")
	  .attr("transform", "translate(0," + m15_height + ")")
	  .call(d3.axisBottom(m15_x));

      m15_g.append("g")
	  .attr("class", "axis axis--y")
	  .call(d3.axisLeft(m15_y))
	.append("text")
	  .attr("fill", "#000")
	  .attr("transform", "rotate(-90)")
	  .attr("y", 6)
	  .attr("dy", "0.71em")
	  .style("text-anchor", "end")
	  .text("Wh - Watt-Hours");

      m15_g.append("path")
	  .datum(data)
	  .attr("class", "line")
	  .attr("d", m15_line);

      // update daily energy
      // bucket energy by day
      daily_energy = d3.map();
      data.forEach(function(d) {
        var bucket = new Date(d.date.getYear(), d.date.getMonth(), d.date.getDate());
        if(!daily_energy.has(bucket)) {
          daily_energy.set(bucket, 0);
        }
        daily_energy.set(bucket, daily_energy.get(bucket) + d.value);
      });

      daily_x.domain(daily_energy.keys());
      daily_y.domain([0, d3.max(daily_energy.values())]);

      daily_g.append("g")
	  .attr("class", "axis axis--x")
	  .attr("transform", "translate(0," + daily_height + ")")
	  .call(d3.axisBottom(daily_x));

      daily_g.append("g")
	  .attr("class", "axis axis--y")
	  .call(d3.axisLeft(daily_y).ticks(10, "%"))
	.append("text")
	  .attr("transform", "rotate(-90)")
	  .attr("y", 6)
	  .attr("dy", "0.71em")
	  .attr("text-anchor", "end")
	  .text("Frequency");

      daily_g.selectAll(".bar")
	.data(daily_energy)
	.enter().append("rect")
	  .attr("class", "bar")
	  .attr("x", function(d) { return daily_x(d[0]); })
	  .attr("y", function(d) { return daily_y(d[1]); })
	  .attr("width", daily_x.bandwidth())
	  .attr("height", function(d) { return daily_height - daily_y(d[1]); });
    });
  </script>
</html>
